<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="header">
    <header class="am-topbar admin-header">
        <div class="am-topbar-brand">
            <strong>Amaze</strong> <small>后台管理模板HTML</small>
        </div>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                        <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
                        <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                        <li><a href="/logout"><span class="am-icon-power-off"></span> 退出</a></li>
                    </ul>
                </li>
                <li><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
            </ul>
        </div>
    </header>
</div>

<div th:fragment="sidebar">
    <div class="admin-sidebar">
        <ul class="am-list admin-sidebar-list">
            <li><a href="/index.html?page=system"><span class="am-icon-share-square-o"></span>系统管理</a></li>
            <li><a href="/index.html?page=bus"><span class="am-icon-pencil-square-o"></span>车辆管理</a></li>
            <li><a href="/index.html?page=driver"><span class="am-icon-arrows"></span>驾驶员管理</a></li>
            <li><a href="/index.html?page=busonline"><span class="am-icon-table"></span>出车信息管理</a></li>
        </ul>

        <div class="am-panel am-panel-default admin-sidebar-panel">
            <div class="am-panel-bd">
                <p><span class="am-icon-bookmark"></span> 公告</p>
                <p>时光静好，与君语；细水流年，与君同。—— Amaze</p>
            </div>
        </div>
    </div>
</div>

<div th:fragment="script">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/amazeui.min.js"></script>
    <!--<![endif]-->
    <script src="/assets/js/app.js"></script>
    <script type="text/javascript" src="/assets/js/page.js"></script>
    <script src="/bootstrap/jquery.min.js"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>
    <script src="/bus/bus-common.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</div>
<div th:fragment="link">
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css">
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <link rel="stylesheet" href="/assets/css/page.css" />
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
</div>

</html>